<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <main>
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-8" id="catalog-info">
          <h2>Our Catalog</h2>
          <h4>You are welcome to watch our beautiful flowers</h4>
          <p>With the growth in Internet usage, flowers delivery in Israel has taken on a new dimension. Online delivery seems to be the latest means through which people order and receive their flowers. Whether you want your flowers delivered at home or to the office, the flexibility that comes with online delivery can meet such requirements extremely well.</p>
        </div>
        <div class="col-sm-4">
          <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" id="indicators">
			<% for (var i = 0; i < flowersArray.length; i++) { %>
				<% if (i == 0) { %>
				<li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
				<% } else { %>
				<li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
				<% } %>
			<% } %>
			</ol>
			
            <div class="carousel-inner" id="carousel">
			<% for (var i = 0; i < flowersArray.length; i++) { %>
				<% if (i == 0) { %>
				<div class="item active">
					<img src="data:<%= flowersArray[i].imageContentType %>;base64,<%= flowersArray[i].imageData %>"></img>
					<div className="carousel-caption">
						<h3><%= flowersArray[i].name + " (" + flowersArray[i].color + ") " %></h3>
						<p><%= flowersArray[i].price + "$" %></p>
					</div>
				</div>
				<% } else { %>
				<div class="item">
          <img src="data:<%= flowersArray[i].imageContentType %>;base64,<%= flowersArray[i].imageData %>"></img>
					<div className="carousel-caption">
						<h3><%= flowersArray[i].name + " (" + flowersArray[i].color + ") " %></h3>
						<p><%= flowersArray[i].price + "$" %></p>
					</div>
				</div>
				<% } %>
			<% } %>
			</div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  </body>
</html>